@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 29, 121, 1);
}

.nav-options {
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin-bottom: 60px;
  width: 90%;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;

  h2 {
    text-align: center;
    font-weight: normal;
  }
}

.active {
  display: flex !important;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input[type="file"] {
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button-add-user {
  background-color: #7dbe97;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button-remove-user {
  background-color: #d88e8a;
  margin-left: 10px;
}

.deletable-message {
  font-size: 10px;
  text-align: center;
}

.deletable {
  cursor: pointer;
}

.deletable:hover {
  background-color: #d88e8a;
  color: white;
}

button {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.cancel {
  background-color: #aaa;
}

.btn.save {
  background-color: #7dbe97;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left img {
  width: 30px;
}

.header-right {
  display: flex;
}

.list-item {
  background-color: #99b9ea;
  padding: 15px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
}

.list-item:hover {
  background-color: #7a94bb;
  cursor: pointer;
}

.user-info {
  color: white;
}

#addBtn {
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.dark-gray-box {
  background-color: #d9d9d9;
  padding: 15px;
  min-width: 50%;
  min-height: 50%;
  margin-top: 30%;
  border: 15px solid #c2c0c0;
}

footer {
  background-color: #ccc;
  margin-top: 30%;
  text-align: center;
  padding: 20px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #000;
}

.user-info-status {
  height: 22px;
  padding: 5px;
  border-radius: 53px;
  opacity: 50%;
}

.user-info-status .status {
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}

.user-info-status .status {
  background-color: grey;
}

.close-button {
  color: black;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.document-image {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  display: block;
  margin: 10px 0;
}

#customer-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 700px;
}

.customer-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.customer-info h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.documents {
  margin-top: 20px;
}

.documents h3 {
  margin-bottom: 10px;
}

.documents ul {
  list-style-type: none;
  padding: 0;
}

.documents li {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.documents li p {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.documents li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.document-image {
  max-width: 100%;
  height: auto;
}

iframe {
  border: none;
  width: 100%;
  height: 260px;
}

.info-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.info-group > * {
  flex: 1 0 50%;
}

.view-document {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.view-document i {
  margin-right: 5px;
}

.document-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

input[readonly],
select[disabled] {
  border: none;
  background: none;
  color: #000;
}

input[readonly]:focus,
select[disabled]:focus {
  outline: none;
  border: none;
}

#addDocumentBtn {
  margin-bottom: 20px;
  background-color: #bedff7;
  color: black;
}

.btn-download {
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-download:hover {
  background-color: #bedff7;
}
